*
!README.md
!.gitignore
!.bashrc

!.config
!.config/*
.config/*.*
!.config/compton/*
!.config/conky/*
.config/conky/conky.conf.old
#!.config/htop/**/*
!.config/neofetch/*
!.config/oomox/*
!.config/polybar/*

# !.config/powerline-shell/*

!.config/rofi/*
!.config/ranger/*
!.config/termite/*
!.config/tint2/tint2rc
.config/tint2/*.old
!.config/wal/*
!.config/openbox/*

!.scripts
!.scripts/*
!.scripts/*/*
!.scripts/bootstraping/*/*

**/*.old**

