*
!.gitignore
!.bashrc
!.config
!.config/*
!.config/autostart/*
!.config/compton/*
!.config/conky/*
!.config/htop/*
!.config/neofetch/*
!.config/oomox/*
!.config/polybar/*
!.config/powerline-shell/*
!.config/rofi/*
!.config/ranger/*
!.config/termite/*
!.config/tint2/*
!.config/wal/*
!.config/xfce4/*

