[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Bars
Comment=Polybar + Tint2
Exec=/home/cs/.scripts/launch-bars.sh
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

