[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Conky
Comment=Conky
Exec=/home/cs/.conky_startup
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=true

